[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
labelme = {editable = true, path = "."}
pycocotools = "*"
pyqt5 = "*"

[requires]
python_version = "3.8"
